{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Add New Item {% endblock %}</h1>

<form method="post">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" name="title"
               placeholder="Item title" class="form-control"
               value="{{ request.form['title'] }}"></input>
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <input type="int" name="description"
               placeholder="Item Description" class="form-control"
               value="{{ request.form['description'] }}"></input>
    </div>
    <div class="form-group">
        <label for="quantity">Quantity</label>
        <input type="int" name="quantity"
               placeholder="Item Quantity" class="form-control"
               value="{{ request.form['quantity'] }}"></input>
    </div>
    <div class="form-group">
        <label for="brand">Brand</label>
        <input type="text" name="brand"
               placeholder="Item Brand" class="form-control"
               value="{{ request.form['brand'] }}"></input>
    </div>
    <div class="form-group">
        <label for="category">Category</label>
        <input type="text" name="category"
               placeholder="Item category" class="form-control"
               value="{{ request.form['category'] }}"></input>
    </div>
    <div class="form-group">
        <label for="barcode">Barcode</label>
        <input type="int" name="barcode"
               placeholder="Scan Barcode" class="form-control"
               value="{{ request.form['barcode'] }}"></input>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
{% endblock %}
