{% extends 'base.html' %}

{% block content %}
    <h2>{% block title %} {{ item['title'] }} {% endblock %}</h2>
    <span class="badge badge-primary">{{ item['quantity'] }}</span>
    <p>{{ item['description'] }}</p>
{% endblock %}