{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Welcome to PI Scanner {% endblock %}</h1>
    {% for item in items %}
        <a href="{{ url_for('item', item_barcode=item['barcode']) }}">
            <h2>{{ item.title }}</h2>
        </a>
        <span class="badge badge-primary">{{ item.quantity }}</span>
        <hr>
    {% endfor %}
{% endblock %}