{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Welcome to PI Scanner {% endblock %}</h1>
    <ul>
        <li>{{item.title}}</li>
        <li>{{item.quantity}}</li>
    </ul>
{% endblock %}